<div class="container ">
    <div class="row">
        <div class="col-md-6 col-12 education">
            <div class="d-flex align-items-center mt-2 title">
                <img src="../../../assets/images/footer.png" class="mr-4" style="max-height: 2.75rem;"
                    alt="No image loaded">
                <h4 class="text-uppercase font-weight-normal ">for education</h4>
            </div>
            <ul class="list-unstyled email py-4 ">
                <li>
                    <div class="mr-5 d-flex">
                        <i class="fas fa-map-marker-alt mr-2 mt-1"></i>
                        <span class="font-600 ">1500 Treat Ave, Suite 200 <br> San Francisco, CA 94110</span>
                    </div>
                </li>
                <li>
                    <div class="mr-5 d-flex">
                        <i class="fas fa-envelope mr-2 mt-1"></i>
                        <span class="font-600 "> vctung@outlook.com</span>
                    </div>
                </li>
                <li>
                    <div class="mr-5 d-flex">
                        <i class="fas fa-phone-alt mr-2 mt-1"></i>
                        <span class="font-600 ">1-800-800-2299 (Support)</span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-md-6 col-12">
            <div class="row">
                <div class="col-4 ">
                    <h5>
                        Community
                    </h5>
                    <ul class="list-unstyled items">
                        <li>
                            <a href="#">
                                <p>Learners</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Partners</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Developers</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Beta Testers</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Translators</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Blog</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Tech Blog</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Teaching Center</p>

                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col-4 ">
                    <h5>
                        Information
                    </h5>
                    <ul class="list-unstyled items">
                        <li>
                            <a href="#">
                                <p>About</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Pricing</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Blog</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Careers</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Contact</p>

                            </a>
                        </li>

                    </ul>
                </div>
                <div class="col-4 ">
                    <h5>
                        More
                    </h5>
                    <ul class="list-unstyled items">
                        <li>
                            <a href="#">
                                <p>Press</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Investors</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Terms</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Privacy</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>help</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Accessiblity</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Contact</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Articles</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Directory</p>

                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>Affiliates</p>

                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-secondary-color p-4 d-flex justify-content-between flex-wrap">
        <h5 class=" text-primary-color">
            Copyright &copy; 2021 Tung Chi Vo
        </h5>
        <div class="d-flex justify-content-around mx-auto mx-md-0">
            <a href="#"><i class="fab fa-facebook-f text-dark mx-2  "></i></a>
            <a href="#"><i class="fab fa-pinterest text-dark mx-2  "></i></a>
            <a href="#"><i class="fab fa-twitter text-dark mx-2  "></i></a>
            <a href="#"><i class="fab fa-instagram text-dark mx-2  "></i></a>
        </div>
    </div>
</div>