*{
    color: white;
}
.education ul li{
    padding: 1rem 0;
}
h1,h2,h3,h4,h5,h6{
margin: 0px;
}
.items{
    padding: 0.5rem 0;
}

.title{
    justify-content: start;
}
@media only screen and (max-width: 768px) {
    .title{
        justify-content: center;
    }
    .email{
        width: 100%;
        div{
            justify-content: center;
        }
    }

}
