<!-- Top Nav -->
<div class="container-fluid bg-secondary-color py-3 d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-10 d-flex ">
                <div class="mr-5 text-primary-color">
                    <i class="fas fa-map-marker-alt mr-2"></i>
                    <span class="font-600">1600 Amphitheatre Parkway, CA 94043</span>
                </div>
                <div class="ml-2 text-primary-color">
                    <i class="fas fa-envelope mr-2"></i>
                    <span class="font-600">vctung@outlook.com</span>
                </div>
            </div>
            <div class="col-2 d-flex justify-content-around ">
                <a href="#"><i class="fab fa-facebook-f text-primary-color "></i></a>
                <a href="#"><i class="fab fa-pinterest text-primary-color "></i></a>
                <a href="#"><i class="fab fa-twitter text-primary-color "></i></a>
                <a href="#"><i class="fab fa-instagram text-primary-color "></i></a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light px-0 py-3">
            <div class="d-flex align-items-center">
                <img src="../../../assets/images/logo.png" class="mr-3" style="max-height: 3.75rem;" alt="No image loaded">
                <h3 class="text-uppercase font-weight-normal m-0 text-primary-color d-none d-md-block">for education</h3>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Courses</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">Contact</a>
                    </li>
                </ul>
                <div class="my-2 my-lg-0">
                    <button class="btn bg-secondary-color px-4 py-2 mx-2">
                        <span class="text-dark font-600">Sign up</span>
                    </button>
                    <button class="btn btn-light bg-white border border-secondary py-2 my-2 my-sm-0" type="submit">
                        <i class="fas fa-search text-secondary"></i>
                    </button>
                </div>
            </div>
        </nav>
    </div>
</div>